.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer__text {
    padding-top: 10px;
    box-sizing: border-box;
}

.footer__authors {
    margin: 0;
    font-size: 14px;
    color: #9F9C90;
    font-weight: 400;
}