.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        position: relative;
        margin-bottom: 20px;
    }
}

.container {
    display: flex;
    gap: 40px;
    align-items: center;
}

@media (max-width: 768px) {
    .container {
        margin-top: 15px;
    }
}

.container_align {
    align-items: start;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1020px) {
    .logo__img {
        width: 52px;
    }
}


.logo__span {
    color: #B9B5A9;
    font-size: 12px;
    padding-top: 5px;
}

.title {
    color: #275950;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.title_size {
    font-size: 40px;
    margin-top: 5px;
}

.age-child {
    margin: 0;
    font-size: 20px;
}

@media (max-width: 1020px) {
    .title {
        font-size: 36px;
    }

    .title_size {
        font-size: 28px;
        text-align: center;
    }

    .age-child {
        font-size: 16px;
    }
}

@media (max-width: 850px) {
    .title_size {
        width: 130px;
        margin: 0;
    }

    .age-child {
        font-size: 16px;
    }
}


.search {
    display: flex;
    justify-content: space-between;
    width: 370px;
    height: 48px;
}

@media (max-width: 1020px) {
    .search {
        height: 44px;
        width: 344px;
    }
}

@media (max-width: 768px) {
    .search {
        width: 65vw;
        gap: 7px;
    }
}

@media (max-width: 560px) {
    .search {
        width: 83vw;
    }
}

@media (max-width: 450px) {
    .search {
        width: 93vw;
    }
}

.inp__text {
    outline: none;
    width: 300px;
    border: solid 1px #FF6364;
    border-radius: 20px 0 20px 20px;
    background-color: transparent;
    padding: 15px;
    box-sizing: border-box;
    color: #454545;
}

@media (max-width: 1020px) {
    .inp__text {
        width: 282px;
    }
}

@media (max-width: 768px) {
    .inp__text {
        flex-grow: 2;
    }
}

.inp__text::placeholder {
    color: #B9B5A9;
}

.btn__search {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    width: 60px;
    height: 48px;
    background-color: #FF6364;
    border-radius: 0 20px 20px 20px;
    opacity: 1;
    transition: opacity .2s ease;
}

@media (max-width: 1020px) {
    .btn__search {
        width: 55px;
        height: 44px;
    }

    .btn__search img {
        width: 24px;
        height: 27px;
    }
}

.btn__search:hover {
    cursor: pointer;
    opacity: .8;
}

.btn__search:active {
    opacity: 1;
}

.settings {
    display: flex;
    height: 30px;
    gap: 15px;
}

.sun {
    width: 30px;
    height: 30px;
}

.star {
    position: relative;
}

@media (max-width: 768px) {
    .settings {
        position: absolute;
        right: 0;
        top: 20px;
    }
}

.hover:hover {
    cursor: pointer;
    opacity: .7;
    position: relative;
}

.hover:active {
    opacity: 1;
}

@media (max-width: 768px) {
    .star {
        width: 27px;
        height: 25px;
    }

    .sun {
        width: 25px;
        height: 25px;
    }
}

.dark-text {
    color: #E4E4E4;
}

.inp__text_dark {
    color: #D7D5D1;
}

.favorites {
    position: absolute;
    top: 45px;
    right: 20px;
    width: max-content;
    padding: 7px;
    background-color: #BBBDBF;
    border-radius: 5px;
    text-align: center;

    opacity: 0;
    pointer-events: none; /* Не даёт подсказке перекрывать курсор */
    white-space: nowrap; /* Запрещает перенос текста */
    transition: opacity 0.3s ease
}

.favorites p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
}

.star:hover ~ .favorites {
    opacity: 1;
}