.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    position: relative;
}

/*section favorites*/

.bookmarks {
    width: 100%;
    margin: 15px 0 20px;
}

.bookmarks__container {
    width: 100%;
    border-top: 1px solid #cfcfcf;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .bookmarks__container {
        margin-bottom: 10px;
    }
}

.mark__favorites {
    position: relative;
    width: 140px;
    padding: 10px;
    box-sizing: border-box;
    min-height: 45px;
    border-radius: 0 0 20px 20px;
    box-shadow: none;
    transition: box-shadow .2s ease;
}

.mark__favorites:last-child {
    margin-right: 0;
}

.link__favorites {
    color: #454545;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.btn__remove {
    position: absolute;
    right: 2px;
    top: -15px;
    width: 25px;
    height: 25px;
    background-color: #cfcfcf;
    border-radius: 50%;
    background-image: url("../assets/icons/close-mark.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px;
    border: 1px solid #ffffff;
    display: none;
    box-shadow: none;
    transition: box-shadow .2s ease;
}

.mark__tooltip {
    color: #cfcfcf;
    position: absolute;
    bottom: -25px;
    left: 0;
    display: none;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.mark__favorites:hover {
    z-index: 100;
    box-shadow: 0 0 6px #a8a8a8;
}

.mark__favorites:hover .btn__remove,
.mark__favorites:hover .mark__tooltip {
    display: block;
}

.btn__remove:hover {
    box-shadow: 0 0 6px #8e8a80;
    cursor: pointer;
    display: block;
}

@media (max-width: 1020px) {
    .mark__favorites {
        margin-right: -30px; /* Уменьшаем gap при уменьшении экрана */
    }

    .btn__remove {
        left: 2px;
    }

    .btn__remove {
        display: block;
    }

    .mark__tooltip {
        opacity: 0;
    }
}

/*section subtitle*/

.subtitle-text {
    font-size: 24px;
    color: #454545;
    font-weight: 400;
    margin: 25px 0 60px 0;
}

@media (max-width: 1450px) {
    .subtitle-text {
        margin: 15px 0 40px 0;
    }
}

@media (max-width: 1020px) {
    .subtitle-text {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .subtitle {
        display: none;
    }
}

.navigation {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 1020px) {
    .navigation {
        height: 50px;
        font-size: 14px;
        gap: 5px;
    }
}

@media (max-width: 768px) {
    .navigation {
        flex-wrap: wrap;
        min-height: 220px;
        gap: 10px;
    }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity .2s ease;
}

@media (max-width: 768px) {
    .flex {
        min-width: 45%;
    }
}

.flex:hover {
    cursor: pointer;
    opacity: .8;
}

.flex:active {
    opacity: 1;
}

.baby {
    width: 190px;
    background-color: #286A4F;
    border-radius: 20px 0 20px 20px;
}

@media (max-width: 768px) {
    .baby {
        flex-basis: 100%;
    }
}

.child_red {
    width: 140px;
    background-color: #FF6364;
    flex-grow: 1;
}

.child_yellow {
    width: 140px;
    background-color: #ecc13d;
    flex-grow: 1;
}

.child3 {
    border-radius: 0 20px 0 20px;
}

.child4 {
    border-radius: 20px 20px 20px 0;
}

.child5 {
    border-radius: 20px 0 20px 20px;
}

.child6 {
    border-radius: 0 20px 20px 20px;
}

.child7 {
    border-radius: 20px 20px 0 20px;
}

.child8 {
    border-radius: 20px 20px 20px 0;
}

@media (max-width: 768px) {
    .child3 {
        order: 1;
    }

    .child4 {
        order: 3;
    }

    .child5 {
        order: 5;
    }

    .child6 {
        order: 2;
    }

    .child7 {
        order: 4;
    }

    .child8 {
        order: 6;
    }
}

.nav__link {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*card-list*/

.list__tale {
    width: 100%;
    display: flex;
    padding: 50px 0 30px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    box-sizing: border-box;
}

@media (max-width: 1490px) {
    .list__tale {
        padding: 25px 0 30px;
        gap: 35px;
    }
}

@media (max-width: 1020px) {
    .list__tale {
        gap: 30px;
    }
}

@media (max-width: 820px) {
    .list__tale {
        padding: 20px 0 30px;
        gap: 25px;
    }
}

@media (max-width: 768px) {
    .list__tale {
        gap: 15px;
    }
}

@media (max-width: 650px) {
    .list__tale {
        gap: 20px;
    }
}

.card {
    width: 22%;
    min-height: 285px;
    box-sizing: border-box;
    border: 1px solid #D7D5D1;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    position: relative;
    transition: background 0.3s, border 0.3s, color 0.3s;
}

.dark-card {
    background: #393939;
    border: 1px solid #393939;
}

@media (max-width: 768px) {
    .card {
        width: 47%;
    }
}

@media (max-width: 420px) {
    .card {
        width: 70%;
    }
}

.card:hover {
    box-shadow: 0 0 6px #8e8a80;
}

.card__link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    text-decoration: none;
}

.container-card__link {
    width: 100%;
    height: auto;
    position: relative;
    flex: 1;
}

.container-card__link img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    flex: 1;
}

.card__time {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 70px;
    height: 22px;
    background-color: #BBBDBF;
    border-radius: 0 0 0 5px;
    color: #fff;
    font-size: 14px;
}

.time {
    margin: 0;
    padding: 3px;
    text-align: center;
    font-weight: 400;
    box-sizing: border-box;
}

.card__mark-read {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 7px;
    border-radius: 5px 0 0 0;
    background-color: #286A4F;
    color: #ffffff;
    font-size: 14px;
    box-sizing: border-box;
    text-align: center;
    display: none;
}

.card__mark-read p {
    margin: 0;
}

.mark-read__visible {
    display: block;
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    box-sizing: border-box;
    min-height: 80px;
}

.card__title-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__title {
    font-weight: 600;
    color: #3C3A35;
    margin: 0 0 10px;
    text-align: center;
}

.dark-card__info {
    color: #E4E4E4;
}

@media (max-width: 1080px) {
    .card__title {
        font-size: 14px;
    }
}

.card__author {
    font-size: 12px;
    color: #9F9C90;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.dark-subtitle {
    color: #E4E4E4;
}

.box-link__main {
    display: flex;
    align-self: flex-start;
    margin-top: 10px;
    width: 270px;
    justify-content: space-between;
}

.link__main {
    text-decoration: none;
    color: #9F9C90;
}

.link__main:hover {
    color: #FF6364;
}

/*section pagination*/

.section-pagination {
    margin-top: 10px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    position: relative;
}

.pagination {
    display: flex;
}

.pagination-bottom {
    display: flex;
}

.arrow {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s ease;
}

.arrow img {
    width: 20px;
    height: 26px;
}

.left-arrow-up {
    margin-right: 8px;
}

.right-arrow-up {
    margin-left: 8px;
}

.left-arrow-up:disabled {
    cursor: default;
    opacity: .6;
}

.right-arrow-up:disabled {
    cursor: default;
    opacity: .6;
}

.arrow:hover {
    opacity: .6;
}

.ellipses {
    align-self: flex-end;
    margin-bottom: 5px;
    font-size: 24px;
    color: #FAC829;
}

.btn-num {
    border: 1px solid #FAC829;
    border-radius: 3px;
    color: #FAC829;
    font-weight: 600;
    background-color: inherit;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 6px;
    padding: 0;
    text-align: center;
}

.btn-num:hover {
    box-shadow: 0 0 3px #B9B5A9;
}

.btn-num_mark {
    cursor: default;
    color: #ffffff;
    background-color: #FAC829;
}

@media (max-width: 768px) {
    .link__main {
        font-size: 14px;
    }

    .section-pagination {
        flex-direction: column;
        align-items: inherit;
        justify-content: center;
        width: 100%;
    }

    .pagination {
        align-items: center;
        justify-content: center;
    }

    .pagination-bottom {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 560px) {

    .section-pagination {
        margin-bottom: 40px;
    }

    .btn-num {
        width: 25px;
        height: 25px;
        font-size: 14px;
        margin: 4px;
    }

    .left-arrow-up {
        margin-right: 8px;
        position: absolute;
        left: 35%;
        bottom: -40px;
    }

    .right-arrow-up {
        margin-left: 8px;
        position: absolute;
        right: 35%;
        bottom: -40px;
    }
}

/*section fairytale*/

.main__fairytale {
    width: 100%;
    margin: 20px 0 40px;
}

.fairytale {
    line-height: 1.7;
    text-align: justify;
    hyphens: auto; /* Автоматический перенос слов */
    -webkit-hyphens: auto; /* Для поддержки в Safari */
    -ms-hyphens: auto; /* Для поддержки в старых версиях Edge */
    word-wrap: break-word; /* Перенос длинных слов */
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    .fairytale {
        margin: 10px 0 20px;
    }
}

.container__btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media (max-width: 1450px) {
    .container__btn {
        right: 20px;
    }
}

@media (max-width: 1180px) {
    .container__btn {
        right: 10px;
    }
}

.btn__style {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ececec;
    transition: background-color ease 0.2s;
}

.btn__style:hover {
    cursor: pointer;
    background-color: #cfcfcf;
}

.btn-up__page {
    background-image: url("../assets/icons/btn-up.png");
    background-size: 30px;
    display: none;
    border-radius: 50%;
}

.btn-save__favorites {
    display: none;
    border-radius: 30%;
    border: none;
    padding: 0;
    background-size: 35px;
    background-image: url("../assets/icons/btn-bookmarks.png");
}

.fairytale__btn-read {
    width: 235px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #cfcfcf;
    color: #272727;
    opacity: 1;
    border: none;
    transition: background-color .2s ease;
}

.fairytale__btn-read:hover {
    cursor: pointer;
    background-color: #b3b3b3;
}

.fairytale__img {
    object-fit: contain;
    max-width: 100%;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
}

/*settings*/

.modal__settings {
    width: 390px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #D9D9D9;
    border-radius: 10px;
    position: absolute;
    top: 25px;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 950px) {
    .modal__settings {
        top: -40px;
    }
}

@media (max-width: 768px) {
    .modal__settings {
        top: -60px;
    }
}

@media (max-width: 560px) {
    .modal__settings {
        width: 320px;
    }
}

.btn__close {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;
    transition: opacity .2s ease;
}

.btn__close img {
    width: 20px;
    height: 20px;
}

.btn__close:hover {
    opacity: .7;
    cursor: pointer;
}

.btn__close:active {
    opacity: 1;
}

.modal__title h3 {
    font-size: 20px;
    font-weight: 600;
    color: #275950;
    margin: 0;
}

.modal__font-size {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.div__size {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.div__size_align {
    align-items: center;
}

.div__size_align label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.div__size label {
    font-size: 12px;
    color: #87847c;
}

.modal__font-family {
    margin: 30px 0;
    width: 100%;
}

.inp-margin {
    appearance: none; /* Убирает стандартный стиль браузера */
    -webkit-appearance: none; /* Safari */
    -moz-appearance: none;
    width: 87%;
    background-color: #FAFAFA;
    padding: 10px;
    color: #454545;
    cursor: pointer;
    border: none;
    border-radius: 20px 0 20px 20px;
}

.inp-margin:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.modal__settings select {
    appearance: none; /* Убирает стандартный стиль браузера */
    -webkit-appearance: none; /* Safari */
    -moz-appearance: none; /* Firefox */

    width: 100%;
    background-color: #FAFAFA;
    padding: 10px;
    color: #454545;
    cursor: pointer;

    background-image: url('../assets/icons/down-arrow.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    border: none;
    border-radius: 20px 0 20px 20px;
}

.modal__settings select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.modal__color {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#select-color {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
}

.color-preview {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 5px solid #FAFAFA;
    cursor: pointer;
    margin-top: 10px;
    box-sizing: border-box;
}

.color-preview_text {
    background-color: #454545;
}

.color-preview_background {
    background-color: #FAFAFA;
}

#select-background {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
}


#select-color {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
}

.modal__box-btn {
    margin: 60px 0 10px;
}


.modal__btn-settings {
    padding: 15px;
    border-radius: 20px;
    border: none;
    background-color: #888886;
    color: #fff;
    opacity: 1;
    transition: background-color .2s ease;
}

.modal__btn-settings:hover {
    cursor: pointer;
    background-color: #286A4F;
}

.modal__btn-settings:active {
    background-color: #368a63;
}

/*list-message*/

.list__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    text-align: center;
}

@media (max-width: 1020px) {
    .list__message {
        font-size: 14px;
    }
}

.message__img-decor {
    margin-top: 50px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1020px) {
    .message__img-decor {
        width: 130px;
        height: 130px;
    }
}

.message__img {
    width: 100%;
    background-position: center;
}

.btn-save_green {
    background-color: #249e62;
}

.btn-save_green:hover {
    background-color: #249e62;
}

/*section notfound*/

.container__notfound {
    text-align: center;
}

.notfound__title {
    font-size: 32px;
}

.notfound__text {
    font-size: 20px;
}

.notfound__text a {
    text-decoration: none;
    color: #FF6364;
}

.notfound__text a:hover {
    text-decoration: underline;
}

@media (max-width: 1020px) {
    .notfound__title {
        font-size: 20px;
    }

    .notfound__text {
        font-size: 16px;
        line-height: 24px;
    }
}